{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Cart</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Cart</li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1">
        <img src="assets/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2">
        <img src="assets/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>

<div class="cart-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'update_cart' %}">
                    {% csrf_token %}
                    <div class="cart-table-content">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="width-thumbnail"></th>
                                        <th class="width-name">Product</th>
                                        <th class="width-price"> Price</th>
                                        <th class="width-quantity">Quantity</th>
                                        <th class="width-subtotal">Subtotal</th>
                                        <th class="width-remove"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr id="delete_item{{item.id}}">
                                        <td class="product-thumbnail">
                                            <a href="#"><img src="{{item.product.image.url}}" alt=""></a>
                                        </td>
                                        <td class="product-name">
                                            <h5><a href="#">{{item.product}}</a></h5>
                                        </td>
                                        <td class="product-cart-price"><span class="amount">{{item.product.discounted_price|floatformat:2}}</span></td>
                                        <td class="cart-quality">
                                            <div class="product-quality"><div class="dec qtybutton">-</div>
                                                <input class="cart-plus-minus-box input-text qty text" name="quantity" value="{{item.quantity}}">
                                            <div class="inc qtybutton">+</div></div>
                                        </td>
                                        <td class="product-total"><span>{{item.get_total|floatformat:2}}</span></td>
                                        <td data-id="{{item.id}}" data-action="remove" data-url="{% url 'delete_from_cart' %}" class="product-remove delete_from_cart"><a href="#"><i class=" ti-trash "></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update btn-hover">
                                    <a href="{% url 'store' %}">Continue Shopping</a>
                                </div>
                                <div class="cart-clear-wrap">
                                    <div class="cart-clear btn-hover">
                                        <button>Update Cart</button>
                                    </div>
                                    <div class="cart-clear btn-hover">
                                        <a href="{% url 'clear_cart' %}">Clear Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" data-select2-id="select2-data-10-nql0">
            <div class="col-lg-3 col-md-6 col-12" data-select2-id="select2-data-9-bm38">
            </div>
            <div class="col-lg-3 col-md-6 col-12">
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="grand-total-wrap">
                    <div class="grand-total-content">
                        <h3>Subtotal <span class="sub-total">Rs. {{cart.get_cart_total|floatformat:2}}</span></h3>
                        <div class="grand-total">
                            <h4>Total <span>Rs. {{cart.get_cart_total|floatformat:2}}</span></h4>
                        </div>
                    </div>
                    <div class="grand-total-btn btn-hover">
                        <a class="btn theme-color" href="{% url 'checkout' %}">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} 