{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="product-details-area pb-100 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-details-img-wrap product-details-vertical-wrap" data-aos="fade-up" data-aos-delay="200">
                    <div class="product-details-small-img-wrap">
                        <div class="swiper-container product-details-small-img-slider-1 pd-small-img-style swiper-container-initialized swiper-container-vertical swiper-container-thumbs">
                            <div class="swiper-wrapper" id="swiper-wrapper-fb4b4ae13580f4cb" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-active swiper-slide-thumb-active" style="height: 96px; margin-bottom: 12px;" role="group" aria-label="1 / 5">
                                    <div class="product-details-small-img">
                                        <img   src="{{product.imageURL}}" alt="{{product.name}}">
                                    </div>
                                </div>
                                {% for extra_image in product.extraimage_set.all %}
                                <div class="swiper-slide swiper-slide-next" style="height: 96px; margin-bottom: 12px;" role="group" aria-label="2 / 5">
                                    <div class="product-details-small-img">
                                        <img src="{{extra_image.image.url}}" style="width:87px;height:96px;" alt="{{product.name}}">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        <div class="pd-prev pd-nav-style swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-fb4b4ae13580f4cb" aria-disabled="true"> <i class="ti-angle-up"></i></div>
                        <div class="pd-next pd-nav-style" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-fb4b4ae13580f4cb" aria-disabled="false"> <i class="ti-angle-down"></i></div>
                    </div>
                    <div class="swiper-container product-details-big-img-slider-1 pd-big-img-style">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="easyzoom-style">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="{{product.imageURL}}"> 
                                            <img style="width:470px;height:522px;" src="{{product.imageURL}}" alt="{{product.name}}">
                                        </a>
                                    </div>
                                    <a class="easyzoom-pop-up img-popup" href="{{product.imageURL}}">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </div>
                            </div>
                            {% for extra_img in product.extraimage_set.all %}
                            <div class="swiper-slide">
                                <div class="easyzoom-style">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="{{extra_img.image.url}}">
                                            <img style="width:470px;height:522px;" src="{{extra_img.image.url}}" alt="{{product.name}}">
                                        </a>
                                    </div>
                                    <a class="easyzoom-pop-up img-popup" href="{{extra_img.image.url}}">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details-content" data-aos="fade-up" data-aos-delay="400">
                    <h2>{{product.name}}</h2>
                    <div class="product-details-price">
                        <span class="old-price">Rs. {{product.price|floatformat:2}}</span>
                        <span class="new-price">Rs. {{product.discounted_price|floatformat:2}}</span>
                    </div>
                    <div class="product-details-action-wrap">
                        <div class="product-details-action-wrap">
                            <div>         
                                <ul>
                                    <li>
                                      <a href="#" data-id={{product.id}} data-action="subtract" data-url="{% url 'update_cart_item' %}" class="add_to_cart" style="margin-right: 10px;">
                                        <img src="{% static 'images/icon-img/minus.png' %}">
                                    </a>
                                    <label  id="cart_count{{product.id}}">0</label>
                                    <a href="#" data-id={{product.id}} data-action="add" data-url="{% url 'update_cart_item' %}" class="add_to_cart" style="margin-left: 10px;">
                                        <img src="{% static 'images/icon-img/plus.png' %}">
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-product-cart btn-hover">
                            <a href="{% url 'cart' %}">Go to cart</a>
                        </div>
                    </div>
                    <div class="product-details-meta">
                        <ul>
                            <!-- <li><span class="title">SKU:</span> Ch-256xl</li> -->
                            <li><span class="title">Category:</span>
                                <ul>
                                    <li><a href="{% url 'store' %}">{{product.category}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="social-icon-style-4">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-85">
    <div class="container">
        <div class="description-review-topbar nav" data-aos="fade-up" data-aos-delay="200">
            <a class="active" data-bs-toggle="tab" href="#des-details1"> Description </a>
            <a data-bs-toggle="tab" href="#des-details2" class=""> Information </a>
        </div>
        <div class="tab-content">
            <div id="des-details1" class="tab-pane active">
                <div class="product-description-content text-center">
                    <p data-aos="fade-up" data-aos-delay="200">{{product.description|safe }} </p>
                </div>
            </div>
            <div id="des-details2" class="tab-pane">
                <div class="specification-wrap table-responsive">
                    <table>
                        <tbody>
                            <tr>
                                <td class="width1">Brands</td>
                                <td>Airi, Brand, Draven, Skudmart, Yena</td>
                            </tr>
                            <tr>
                                <td class="width1">Color</td>
                                <td>Blue, Gray, Pink</td>
                            </tr>
                            <tr>
                                <td class="width1">Size</td>
                                <td>L, M, S, XL, XXL</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}