{% load static %}

<!-- Product Modal start -->
{% for product in products %}
<div class="modal fade quickview-modal-style" id="exampleModal{{product.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"><i class=" ti-close "></i></a>
            </div>
            <div class="modal-body">
                <div class="row gx-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="modal-img-wrap">
                            <img style="width:429px;height:477px;" src="{{product.imageURL}}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-12">
                        <div class="product-details-content quickview-content">
                            <h2>{{product}}</h2>
                            <div class="product-details-price">
                                <span class="old-price">Rs. {{product.price|floatformat:2}}</span>
                                <span class="new-price">Rs. {{product.discounted_price|floatformat:2}}</span>
                            </div>
                            <p>{{product.description|safe }}</p>
                            <div class="product-details-action-wrap">
                                <div>         
                                    <ul>
                                        <li>
                                          <a href="#" data-id={{product.id}} data-action="subtract" data-url="{% url 'update_cart_item' %}" class="add_to_cart" style="margin-right: 10px;">
                                            <img src="{% static 'images/icon-img/minus.png' %}">
                                        </a>
                                        <label  id="cart_count{{product.id}}">0</label>
                                        <a href="#" data-id={{product.id}} data-action="add" data-url="{% url 'update_cart_item' %}" class="add_to_cart" style="margin-left: 10px;">
                                            <img src="{% static 'images/icon-img/plus.png' %}">
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="single-product-cart btn-hover">
                                    <a href="{% url 'cart' %}">Go to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Product Modal end -->
