{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
            <ul data-aos="fade-up" data-aos-delay="400">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Shop</li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
        <img src="../static/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
        <img src="../static/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-12">
                <div class="shop-topbar-wrapper mb-40">
                    <div class="shop-topbar-left">
                        <div class="showing-item">
                            <span>Showing {{num_of_results}} of {{total_results}} results</span>
                        </div>
                    </div>
                    <div class="shop-topbar-right">
                        <div class="shop-sorting-area">
                            <form id="categoryForm" action="{% url 'store' %}" method="get">
                                <select class="nice-select nice-select-style-1" id="categorySort" onchange="handleSorting()">
                                    <option value="">Default Sorting</option>
                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </form>    
                        </div>
                        <div class="shop-view-mode nav">
                            <a class="active" href="#shop-1" data-bs-toggle="tab"><i class=" ti-layout-grid3 "></i> </a>
                            <a href="#shop-2" data-bs-toggle="tab" class=""><i class=" ti-view-list-alt "></i></a>
                        </div>
                    </div>
                </div>
                <div class="shop-bottom-area">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                {% for product in products %}
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img style="height:200px;width:200px;" src="{{product.imageURL}}" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span>-10%</span>
                                            </div>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button data-id={{product.id}} data-action="add" data-url="{% url 'update_cart_item' %}" class="product-action-btn-2 add-btn add_to_cart" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="#">{{product}}</a></h3>
                                            <div class="product-price">
                                                <span class="old-price">${{product.price|floatformat:2}} </span>
                                                <span class="new-price">${{product.price|floatformat:2}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% include 'pagination.html' with queryset=products custom_range=custom_range %}


                        </div>
                        <div id="shop-2" class="tab-pane">
                            {% for product in products %}
                            <div class="shop-list-wrap mb-30">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="product-list-img">
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img src="{{product.imageURL}}" alt="Product Style">
                                            </a>
                                            <div class="product-list-badge badge-right badge-pink">
                                                <span>-10%</span>
                                            </div>
                                            <div class="product-list-quickview">
                                                <button class="product-action-btn-2" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="shop-list-content">
                                            <h3><a href="#">{{product.name}}</a></h3>
                                            <div class="product-price">
                                                <span class="old-price">$70.89 </span>
                                                <span class="new-price">$55.25 </span>
                                            </div>
                                            <div class="product-list-rating">
                                                <i class=" ti-star"></i>
                                                <i class=" ti-star"></i>
                                                <i class=" ti-star"></i>
                                                <i class=" ti-star"></i>
                                                <i class=" ti-star"></i>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique bibend est a fermentum. Cras faucibus ex quis justo consectetur eleifend in eget diam.</p>
                                            <div class="product-list-action">
                                                <button data-id={{product.id}} data-action="add" data-url="{% url 'update_cart_item' %}" class="product-action-btn-3 add-btn add_to_cart"  title="Add to cart"><i class="pe-7s-cart"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% include 'pagination.html' with queryset=products custom_range=custom_range %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function handleSorting() {
        // Global variable to store the current search query
        var searchQuery = "{{ search_query }}";
        console.log(searchQuery)
        // Retrieve the selected category ID
        var categorySort = document.getElementById('categorySort');
        var selectedCategoryId = categorySort.value;
    
        // Send an asynchronous request to the server
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/store/?search_query=' + encodeURIComponent(searchQuery) + '&category_id=' + encodeURIComponent(selectedCategoryId), true);
        xhr.onload = function () {
          if (xhr.status === 200) {
            // Update the product list on the page
            var url = "{% url 'store' %}?search_query=" + searchQuery + "&category_id=" + selectedCategoryId;
            window.location.href = url;
          }
        };
        xhr.send();
      }
  
</script>

{% endblock content %}